# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RestaurantAppReact.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\domin\Desktop\RestaurantAppReact\RestaurantAppReact\RestaurantAppReact\.idea\.idea.RestaurantAppReact\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
